body {
    margin: 0;
    padding: 0;
    background-color: #173040;
    font-family: 'Xanh Mono', monospace;
    font-family: 'Mali', cursive;
}

table tr td img.test{
    margin-left: 150px;
    margin-top: 150px;
    border: #d9b97e solid 5px;
    border-radius: 20%;
    box-shadow: 15px 20px 40px #d9b97e;
    width: auto;
    height: 300px;
}
table tr td img.myphoto{
    margin-top: -1000px;
    margin-bottom: 130px;
    margin-left: 480px;
    border: #d9b97e solid 5px;
    border-radius: 50%;
    box-shadow: 15px 20px 40px #d9b97e;
    width: auto;
    height: 500px;
}
div.content{
    background-color: #2F4959;
    line-height: 25px;
    padding-bottom: 50px;
}
.infor{
    color: white;
    display: block;
    margin-left: 650px;
    margin-top: -450px;
    margin-right: 100px;
    border: #d9b97e solid 5px;
    padding-left: 10px;
}
table tr td img.icon{
    width: auto;
    height: 50px;
    padding-right: -1px;
}
table tr td h3{
    margin-left: -780px;
}
div.infor p a.jk{
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}
div.infor p.head{
    color:  #d9b97e;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline black 3px;
}
div.blank{
    background-color: #173040;
    width: 100%;
    height: 15ex;
}
