/* NAVIGATION */
body {
    margin: 0;
    padding: 0;
}
.container.coloum p{
    float: left;
    display: block;
    width: 33.33%;
    padding: 15px;
    background-color: red;
}
div.container{
    background-color: #8F9DA6;
    width: 100%;
    height: 120ex;
}
div.contact{
    background-color: #2F4959;
    width: 100%;
    height: 15ex;
}
nav {
    width: 100%;
    height: 20ex;
    background-color:#2F4959;
    position: fixed;
    margin-top: -15px;

}
nav.stroke p {
    color: white;
    text-align: center;
    text-shadow: #aaaaaa;
    line-height: 10px;
    font-size: xx-large;
    word-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: #8F9DA6;/*245 69 69*/
}


nav ul {
    list-style: none;
    text-align: right;
    margin-top: 0;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 1s ease;
}

nav ul li a:hover {
    color: #ffff;
    padding-bottom: 0;
}

/*nav ul li a.active {*/
/*    background-color: rg;*/
/*    -webkit-transition: background-color 1000ms linear;*/
/*    transition: background-color 1000ms ease-in;*/
/*}*/

nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}